body {
    background: #F1FBFB;
}

.driver {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 100%;
    background: #F1FBFB;
    padding: 0 2rem 2rem 2rem;

}

.schadule_driver {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
}

.driver .text_e_cta_driver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-right: 2rem;
}

.text_e_cta_driver a {
    cursor: pointer;
    background: #2EA641;
    width: 200px;
    border: none;
    padding: 1.6em;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: .1em;
    font-weight: bold;
    color: #FFF;
}

.text_e_cta_driver a:hover {
    border: solid 4px #004821;
    background: none;
    color: #004821;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.driver .img_driver {
    width: 100%;
    display: flex;
    margin-left: 2rem;
}

.driver img {
    display: flex;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    height: 90%;
}

.driver .text_driver h2 {
    font-size: 3.4em;
    line-height: 1.3em;
    margin-bottom: 2rem;
}

.driver .text_driver p {
    font-size: 1.8em;
    max-width: 600px;
    margin-bottom: 5rem;

}



/* ----------------------------------- SECTION_01 -----------------------------------*/

.section_01_driver {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    align-items: center;
    background: #FFF;
    padding: 4rem;
}

.container_section_01_driver {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 90%;
}

.section_01_driver img {
    width: 20%;
}

.section_01_driver h2 {
    font-size: 3rem;
    max-width: 400px;
}


/* ----------------------------------- SECTION_02  -  THE CITYS -----------------------------------*/

  .section_02_driver {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 90%; 
  }

  .the_citys_driver {
    padding: 4rem 0;
  }
  
  .list_citys_driver {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .card_city_driver {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 4px #004821;
    width: 100%;
    padding: 0 2rem;
  }
  
  .card_city_driver h2 {
    margin: 1rem auto;
    font-size: 2.6rem;
  }
  
  .container_city_driver {
    width: 100%;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  
  .content_city_driver {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .content_city_driver .map_driver {
    width: 500px;
    height: 250px;
  }
  
  .content_city_driver a {
    background: #2EA641;
    padding: 1rem;
    text-align: center;
    color: #FFF;
    letter-spacing: .1em;
    font-size: 1.2rem;
    margin: 2rem auto;
    border: solid 4px #F1FBFB;
    font-weight: bold;
  }
  
  .content_city_driver a:hover {
    border: solid 4px #004821;
    background: none;
    color: #004821;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 1100px) {
  
    .content_city_driver .map_driver {
      width: 100%;
      height: 150px;
    }
    
  
  }
  
  @media (max-width: 700px) {
  
    .container_city_driver {
      flex-direction: column;
    }
  
  }
  

/* ----------------------------------- SECTION_03 -----------------------------------*/

  .section_03_driver {
        display: flex;
        justify-content: center;
        margin: 5rem auto 9rem auto;
        align-items: center;
        background: red;
  }

  .section_03 div {
      background:#004821;
  }

  .section_03_driver  a {
        padding: 2rem;
        background: #2EA641;
        color: #FFF;
        font-size: 3rem;
  }

  .section_03_driver a:hover {
        border: solid 4px #004821;
        background: #F1FBFB;
        color: #004821;
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  }



/* ----------------------------------- @MEDIA -----------------------------------*/

@media (max-width: 500px) {

    /* ----------------- SECTION_01 ----------------- */

    .section_01 img {
        width: 50%;
        margin: 0 auto;
    }

    .text_section_01 h2 {
        margin: 0 auto;
        text-align: center;
        font-size: 3rem;
        max-width: 100%;
    }


  }
  
@media (max-width: 800px) {



/* ----------------------------------- DRIVER -----------------------------------*/

    .driver {
        padding: 0 0 4rem 0;
    }

    .schadule_driver {
        flex-direction: column;
    }

    .driver .img_driver {
        justify-content: flex-end;
        margin-left: 0;
    }

    .driver img {
        width: 90%;
        border-radius: 2rem;
        align-self: flex-end;
    }



/* ----------------------------------- SECTION_01 -----------------------------------*/

    .section_01 {
        padding: 8rem 0;
    }


}